.header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
  }
}

%header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color $duration $timing-function;
}

.nav-list {
  display: flex;
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: block;
    color: getColor('primary-text');
    @extend %header-links;
  }
  &__link:hover,
  &__link:focus {
    color: getColor('accent');
  }
  &__link--current {
    color: getColor('accent');
  }
  &__link--current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: getColor('accent');
    border-radius: 2px;
  }
}

.contacts-list {
  display: flex;
  margin-left: auto;
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    color: getColor('secondary-text');
    @extend %header-links;
  }
  &__link:hover,
  &__link:focus {
    color: getColor('accent');
  }
  &__icon {
    fill: getColor('secondary-text');
    margin-right: 10px;
    transition: fill $duration $timing-function;
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: getColor('accent');
  }
}
