.hero {
  background-color: getColor('hero-bg');
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: getColor('white');
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;
  }
}
