body {
  font-family: getFont('primary-font'), sans-serif;

  background-color: getColor('white');
  color: getColor('secondary-text');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
